{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement - The Shop 49.{% endblock %}

{% block body %}
    <h2>Erreur de paiement</h2>
    <p>
        Bonjour <strong class="gras">{{ order.user.firstname }} {{ order.user.lastname }}</strong>,<br/><br/>
        Il semblerait que votre paiement est échoué pour votre commande n°<strong class="gras">{{ order.reference }}</strong>.<br/>
        Une confirmation d'erreur vient de vous être envoyée par email à l'adresse <strong class="gras">{{ order.user.email }}</strong>.
    </p>
    <a href="{{ path('order') }}" class="btn btn-dark btn-sm">Réessayer le paiement</a>
{% endblock %}
