{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - The Shop 49{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 mt-3">
        <img src="{{ asset('uploads/' ~  product.illustration) }}" alt="{{ product.name }}" class="img-fluid mb-3" />
    </div>
    <div class="col-md-8 mt-3">
        <h2 style="color: #00580a;">{{ product.name }}.</h2>
        <p>{{ product.subtitle }}.</p>
        <p style="font-size: 18px;font-weight: bold;  margin-top: 3px">Prix : {{ (product.price /100) | number_format(2, ',', '')}} €</p>
        <hr />
        <p class="text-justify">{{ product.description }}</p>
        <a href="{{ path('add_to_cart', {'id' : product.id}) }}" class="btn btn-dark btn-sm">Ajouter au panier</a>
        <a href="{{ path('products') }}" class="btn btn-dark btn-sm">Tous les produits</a>
        <p></p>
    </div>
</div>
<hr />
<h3 style="color: #00580a;">Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus.</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>

{% endblock %}

