{% extends 'base.html.twig' %}

{% block title %}The Shop{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3" style="color: #00580a;">
            <h2 class="text-center">Inscription</h2>
            {{form_start(form)}}
                {{form_row(form.firstname)}}
                {{form_row(form.lastname)}}
                {{form_row(form.email)}}
                {{ form_widget(form) }}
                <input type="submit" class="btu btn-dark btn-block mt-3" value="Valider">
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}
